:host {
  display: flex;
  flex-grow: 1;
}

.mb-bg {
  background: rgb(38, 64, 139);
  background: linear-gradient(
    90deg,
    rgba(38, 64, 139, 1) 0%,
    rgba(38, 64, 139, 1) 35%,
    rgba(70, 187, 0, 1) 100%
  );
}

.slide {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &--container {
    display: flex;
    padding: 2rem;
    gap: 2rem;
  }

  &__img img {
    max-width: 552px;
  }
}

.slide__txt,
.slide__img {
  flex-grow: 1;
  flex-basis: 100%;
}

.slide__txt {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;

  h1,
  a {
    line-height: 1;
  }

  p {
    line-height: 1.4;
  }
}

.slide__buttons {
  display: flex;
  gap: 0.75rem;

  a {
    padding: 0.75rem 1rem;
    background-color: red;
    border: 1px solid red;
    border-radius: 0.25rem;
    display: inline-block;
    text-decoration: none;
    color: white;
  }

  .github {
    background: transparent;
    border-color: white;
  }
}
