<p-carousel [value]="slides" [numVisible]="1" [numScroll]="1">
  <ng-template let-slide pTemplate="item">
    <div class="{{ slide.projectClass }} slide">
      <div class="container slide--container">
        <div class="slide__txt">
          <h1>{{ slide.title }}</h1>
          <p>{{ slide.text }}</p>
          <div class="slide__buttons">
            <a
              href="{{ slide.githubUrl }}"
              target="_blank"
              title="{{ slide.title }} on GitHub"
              class="github"
            >
              Link do GitHub
            </a>
            <a
              href="{{ slide.hostedUrl }}"
              target="_blank"
              title="{{ slide.title }} hosted"
              class="hosted"
              >Projeto hospedado</a
            >
          </div>
        </div>
        <div class="slide__img">
          <img src="{{ slide.imgUrl }}" alt="" />
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
