<div class="main-wrapper">
  <div class="slider">
    <div class="slider__container">
      <div class="slider__text">
        <h1>H1 Lorem ipsum dolor sit amet</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
          dolores quibusdam eum doloremque quia ducimus repellat. Dignissimos
          iure illum esse porro nesciunt libero sed. Laboriosam possimus neque
          sint? Porro, nobis.
        </p>
        <button>Lorem ipsum</button>
      </div>
      <div class="slider__images">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quas,
        accusantium reiciendis enim mollitia nesciunt omnis ut vero molestias
        accusamus quasi aspernatur necessitatibus, cumque ipsam distinctio
        doloribus voluptatem perspiciatis ab?
      </div>
    </div>
  </div>
</div>
