body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logo {
  white-space: nowrap;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 1rem 2rem;
  margin: auto;
}

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
