body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logo {
  white-space: nowrap;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 1rem 2rem;
  margin: auto;
}

.main-wrapper {
  background-color: #333;
  // height: 100vh;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
