body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logo {
  white-space: nowrap;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 1rem 2rem;
  margin: auto;
}

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// Carousel Home

.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}

.p-element {
  flex-grow: 1;
  h1,
  p {
    margin: 0;
  }

  .p-carousel,
  .p-carousel-content,
  .p-carousel-container,
  .p-carousel-items-container {
    height: 100%;
    max-width: 100vw;
  }

  .p-carousel-content,
  .p-carousel-container {
    position: relative;
  }

  .p-carousel-container {
    background-color: red;
  }

  .p-carousel .p-carousel-indicators {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .p-carousel-prev,
  .p-carousel-next {
    position: absolute;
    z-index: 999;
  }

  .p-carousel-next {
    right: 0;
  }
}

// Carousel Home
